#chatWrap #composeBox {
  display: flex;
  align-items: center;
  justify-content: center;
}

#chatWrap #composeBox .message-input {
  flex: 1;
  padding-right: 12px;
}
#chatWrap #composeBox .send-btn {
  border: none;
  font-size: 0.8rem;
  line-height: 1rem;
  padding: 0 1.2rem;
  height: 2rem;
  border-radius: 0.7rem;
  cursor: pointer;
  background-color: thistle;
}
